body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat-Bold";
  font-weight: bolder;
}

p{
  color: #8f8f8f;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.white-section{
  background-color: white;
}

.colored-section{
  background-color: #ff4c68;
  color: white;
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Title Image */

.title-image {
  width: 20%;
  transform: rotate(25deg);
  margin: 20px;
  position: absolute;
  right: 25%;
  

}
/* Headings */
.big-heading {
  font-size: 5rem;
  size: 5rem;
  line-height: 1.5;
  color: white;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

/* Download Buttons */

.download-button {
  margin: 20px 20px 100px 0px;
}

/* Navigation Bar */

.navbar {
  padding-bottom: 5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: large;
  font-weight: bold;
  font-family: "Montserrat";
}

/* Feature Section */
#features{
    padding: 0 15%;
    background-color: white;
    position: relative;
    z-index: 1;
} 

.feature-title {
  margin-top: 20px;
  font-size: 20px;
}
#features p {
  font-size: 15px;
  color: #8f8f8f;
}

.feature-box {
    margin: 7% 0;
}

.feature-icon {
  color: #cf8172;
}
.feature-icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */

#testimonials{
  background-color: #cf8172;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image{
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}


#press{
  background-color: #cf8172;
  padding-bottom: 3%;
}

.press-logo{
  width: 7%;
  margin: 20px 20px 50px;
}

/* Pricing Section  */

#pricing{
  padding: 100px;
}

.pricing-column{
  padding: 3% 2%;
}

.price-text{
  font-size: 3rem;
  line-height: 1.5;
}


/* cta Section  */

.download-button-cta{
  margin: 50px 40px;
}

/* footer Section */

#footer{
  background-color: white;
}

#footer a{
  margin: 0px 10px;
  color: black;
}

#footer p{
  color: #8f8f8f;
  font-size: 0.7rem;
  margin-top: 20px;
}


@media (max-width: 1028px) {
  .title-image{
    width: 50%;
    position: static;
    transform: rotate(0);
  }
  #title{
    text-align: center;
  }
}